@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  /* 기본 레이아웃 설정 */
  body {
    font-family: 'GmarketSansMedium';
    margin: 0;
    padding: 0;
  }
  
  /* 상단 링크 메뉴 스타일 */
  #text {
    display: flex;
    justify-content: space-evenly; /* 링크들 간격을 동일하게 분배 */
    background-color: #4a90e2; /* 배경색 */
    padding: 10px 0; /* 위아래 패딩 */
    align-items: center; /* 추가: 세로 중앙 정렬 */
  }
  
  #real {
    display: flex;
    justify-content: center; /* 내용 가운데 정렬 */
    align-items: center; /* 수직 정렬 */
    background-color: whitesmokes;
    height: 500px; /* 원하는 높이 설정 */
  }
  
  p {
    font-size: 20px; /* 글자 크기 */
    text-align: center; /* 텍스트 가운데 정렬 */
    color: #333; /* 글자 색상 */
    padding: 0 20px; /* 좌우 여백 */
    line-height: 1.5; /* 줄 간격 */
    font-weight: bold; /* 글자 두껍게 */
  }
  
  a {
    color: white; /* 글자색 */
    text-decoration: none; /* 밑줄 없애기 */
    font-size: 18px; /* 폰트 크기 */
    padding: 10px 20px; /* 좌우 여백 */
    line-height: 1; /* 추가: 줄 간격을 1로 설정하여 높이 조정 */
  }
  
  a:hover {
    background-color: #0b5ebc; /* 마우스를 올렸을 때 배경 색 */
    border-radius: 5px; /* 둥근 모서리 */
  }